.admin-response-box {
    background: #ffffff !important;
    color: #000000 !important;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
}

.admin-response-label {
    color: inherit !important;
    font-style: italic;
}

.AdminSearchInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    font-size: medium;
}

.AdminresponseInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    color: white;
    font-size: medium;
}

.filters {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filters label {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.filters input {
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #ffffff;
    color: #000000;
}

.download-btn {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background: linear-gradient(135deg, #28a745, #20c997);
    color: white;
}

.download-btn:hover {
    background: linear-gradient(135deg, #218838, #1ea085);
}